<div class="main-container">
  <div class="navbar-jr navbar-fixed-top">
    <!-- Logo -->
    <div class="navbar-logos">
      <div class="navbar-logo">
      <%= image_tag 'logo_jereussis.png', alt: "Logo Je Réussis", title: "Logo Je Réussis"%>
      </div>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-jr-right hidden-xs hidden-sm">

      <div class="navbar-tabs">
        <a href="index.html", class="navbar-jr-item navbar-jr-link">ACCUEIL</a>
      </div>
      <div class="navbar-tabs">
        <a href="#explication", class="navbar-jr-item navbar-jr-link">COMMENT ÇA MARCHE ?</a>
      </div>
      <div class="navbar-tabs">
        <a href="#prices", class="navbar-jr-item navbar-jr-link">TARIFS</a>
      </div>
      <div class="navbar-tabs">
        <a href="#contact", class="navbar-jr-item navbar-jr-link">CONTACT</a>
      </div>

  </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-jr-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-jr-dropdown-menu">
          <li><a href="#", "navbar-jr-item navbar-jr-link">Accueil</a></li>
          <li><a href="#explication", "navbar-jr-item navbar-jr-link">Comment ça marche ?</a></li>
          <li><a href="#prices", "navbar-jr-item navbar-jr-link">Tarifs</a></li>
          <li><a href="#contact", "navbar-jr-item navbar-jr-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner-home" style="height: 100vh;">
    <div class="card-banner">
      <div class="card-banner-home-text">
        <h2 data-aos="fade-left">
          <%= image_tag 'logo_jereussiscopy.png', alt: "Logo Je Réussis", title: "Logo Je Réussis", class: "banner-logo"%>
          <br><br>
          <em>Ensemble, nous créons le CV et la lettre de motivation qui te correspond</em>
        </h2>

      </div>
    </div>
  </div>

  <div class="banner-presentation" style="max-height: 100%;">
    <div class="container">
      <h2>NOTRE VALEUR AJOUTÉE</h2>
      <p data-aos="fade-right">Envie de réussir tes objectifs ?
        <br>Notre équipe est là pour t’accompagner et réaliser le CV ou la lettre de motivation qui te correspondra le mieux et saura retenir l’attention du destinataire. </p>
        <p>Nous ne sommes pas des robots, nous travaillons réellement sur ton projet et n'hésiterons pas à te contacter si nous avons besoin de plus d'informations pour réussir au mieux ta commande.</p>
        <div id="explication"></div>
      <p data-aos="fade-left"><br> Plus qu’un design nous développons, dynamisons tes aptitudes et corrigeons tes fautes ! C’est rapide, simple, personnalisé et ton CV ou ta lettre de motivation te sera envoyée par email en moins de 24h.
      <br>Alors, prêt(e) ?
      </p>
    </div>
  </div>



  <div class="banner-explication" style="max-height: 100%;">
    <h2>COMMENT ÇA MARCHE ?</h2>
    <div class="container">
      <div class="row row-explain">
        <div class="col-xs-12 col-sm-6 text-center icon-explain" data-aos="fade-right">
          <i class="fas fa-file-signature"></i>
        </div>
        <div class="col-xs-12 col-sm-6 text-center text-explain" data-aos="fade-left">
          <h3>COMPLÈTE LE FORMULAIRE...</h3>
          <p>C’est rapide et facile, promis ! </p>
        </div>
      </div>
      <div class="main-lign">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-push-6 col-sm-6 text-center icon-explain" data-aos="fade-left">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="col-xs-12 col-sm-pull-6 col-sm-6 text-center text-explain" data-aos="fade-right">
          <h3>PROCÈDE AU PAIEMENT...</h3>
          <p>Simple et sécurisé, via Stripe (un des leaders du paiement sur internet)</p>
        </div>
      </div>
      <div class="main-lign">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center icon-explain" data-aos="fade-right">
          <i class="fas fa-file-export"></i>
        </div>
        <div class="col-xs-12 col-sm-6 text-center text-explain" data-aos="fade-left">
          <h3> REÇOIS TON CV DANS TA BOÎTE MAIL SOUS 24H !</h3>
          <p>Nous ne sommes pas des robots et travaillons réellement sur chaque projet ensemble</p>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-models" style="max-height: 100%;">
    <h2>EXEMPLES DE MODÈLES</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card-preview">
            <div class="card-img-top text-center">
              <%= image_tag "classique1.png", alt: "CV classique 1", title: "CV classique 1", class: "img-preview"%>
            </div>
            <div class="card-body text-center">
              <div class="card-title">
                CV Classique 1
              </div>
              <div class="card-button">
                <button type="button" class="button-preview" data-toggle="modal" data-target=".bd-example-modal-sm1">Voir le CV</button>
              </div>
            </div>
          </div>
          <div class="modal fade bd-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="text-center">
                  <%= image_tag "classique1.png", alt: "CV classique 1", title: "CV classique 1", class: "modal-preview"%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-preview">
            <div class="card-img-top text-center">
              <%= image_tag "classique2.png", alt: "CV classique 2", title: "CV classique 2", class: "img-preview"%>
            </div>
            <div class="card-body text-center">
              <div class="card-title">
                CV Classique 2
              </div>
              <div class="card-button">
                <button type="button" class="button-preview" data-toggle="modal" data-target=".bd-example-modal-sm2">Voir le CV</button>
              </div>
            </div>
          </div>
          <div class="modal fade bd-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
              <%= image_tag "classique2.png", alt: "CV classique 2", title: "CV classique 2", class: "modal-preview"%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-preview">
            <div class="card-img-top text-center">
              <%= image_tag "creatif.png", alt: "CV créatif", title: "CV créatif", class: "img-preview"%>
            </div>
            <div class="card-body text-center">
              <div class="card-title">
                CV Créatif
              </div>
              <div class="card-button">
                <button type="button" class="button-preview" data-toggle="modal" data-target=".bd-example-modal-sm3">Voir le CV</button>
              </div>
            </div>
          </div>
          <div class="modal fade bd-example-modal-sm3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
              <%= image_tag "creatif.png", alt: "CV créatif", title: "CV créatif", class: "modal-preview"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="prices"></div>

  <h2>POUR COMMANDER :</h2>
  <div class="banner-buy" style="max-height: 100%;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-title" data-aos="zoom-in">
              Curriculum Vitae CV
            </div>
            <div class="card-price" data-aos="zoom-in">
              12€
            </div>
            <div class="card-button" data-aos="zoom-in">
              <a class="typeform-share button" href="https://juliette162.typeform.com/to/ZCiL7L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#744D39;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 20px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Je commande mon CV </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-title" data-aos="zoom-in">
              Lettre de motivation LM
            </div>
            <div class="card-price" data-aos="zoom-in">
              10€
            </div>
            <div class="card-button" data-aos="zoom-in">
              <a class="typeform-share button" href="https://juliette162.typeform.com/to/IHaf8L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#744D39;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 20px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Je commande ma LM </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-title" data-aos="zoom-in">
              PACK CV + LM
            </div>
            <div class="card-price" data-aos="zoom-in">
              15€
            </div>
            <div class="card-button" data-aos="zoom-in">
              <a class="typeform-share button" href="https://juliette162.typeform.com/to/R5ICA0" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#744D39;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 20px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Je commande mon pack CV + LM </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact"></div>

  <div class="banner-contact">
    <div class="container text-center">
      <h2>QUI SOMMES-NOUS ?</h2>
        <p>Je Réussis est une petite équipe située dans le sud de la France qui partage plusieurs points communs : créatifs, ambitieux mais surtout à l’écoute de nos clients nous mettons tout en oeuvre pour faire ressortir le meilleur de toi sur papier !
        <br><br>Besoin de conseils, de discuter ? Une question, un doute ?
        <br> Contacte nous sans hésiter :
        <a href="mailto:jereussis-moncv@hotmail.com">jereussis-moncv@hotmail.com</a>
        <br> <br>Et rejoins-nous sur les réseaux !</p>
        <br> <br>
        <div class="contact-social" data-aos="zoom-in-up">
          <% link_to "https://www.instagram.com/jereussis.moncv/", target: "_blank" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
           <% link_to "https://web.facebook.com/Je-r%C3%A9ussis-406559066818642/", target: "_blank" do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <% link_to "https://twitter.com/JReussis", target: "_blank" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </div>
      <div class="main-lign card-blogpost-lign">
      </div>
    </div>
  </div>



  <footer>
    <div class="footer-jr">
      <div class="footer-jr__links">
        <% link_to "https://www.instagram.com/jereussis.moncv/", target: "_blank" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
         <% link_to "https://web.facebook.com/Je-r%C3%A9ussis-406559066818642/", target: "_blank" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
         <% link_to "https://twitter.com/JReussis", target: "_blank" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </div>
      <div class="footer-jr__legalnotices">
        <%= link_to "Mentions légales", 'legals.html' %>
      </div>
    </div>
  </footer>
</div>
